/* 기본셋팅 */
.wrap {
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

.content {
  margin-top: 60px;
  box-sizing: border-box;
}

.total-bg {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

.zindex-3 {
  z-index: 3;
}

/* 0. 여백 */
.padding-16 {
  padding: 0 16px;
}
/*  */
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
/*  */
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}
/*  */
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}

/* 0. block */
.block {
  width: 100%;
  height: 10px;
  background: #f1f1f5;
}

/* 1.topNav */

header.active {
  background: #fff;
  border-bottom: 1px solid #f1f1f5;
}

.topNav {
  display: flex;
  position: fixed;
  top: 0;
  padding: 0 16px;
  height: 50px;
  max-width: 480px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  z-index: 99;
  justify-content: space-between;
}

.topNav-left {
  display: flex;
}
.topNav-left img {
  padding: 9px 20px 9px 0;
  cursor: pointer;
}

.topNav-left img.logo {
  width: 100%;
}

.topNav-left img.back {
  width: 32px;
}

.topNav .topNav-title {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
}

.topNav-right img {
  width: 32px;
  padding: 9px 0 9px 28px;
  cursor: pointer;
}

/* 2. input */
.full-input {
  display: flex;
  flex-direction: column;
}

.full-input label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
}

.full-input input {
  padding-left: 16px;
  height: 40px;
  border-radius: 5px;
  background: #f5f5f9;
  border: 1px solid #f5f5f9;
}

.full-input select {
  padding: 0 16px;
  height: 40px;
  border-radius: 5px;
  background: #f5f5f9;
  border: 1px solid #f5f5f9;
}

.full-input input:active,
.full-input input:focus {
  outline: none;
  border: 1px solid #0047bb;
}

/* .button */
.full-btn {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.full-btn button {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.grid2-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 40px;
}

.grid2-btn button {
  border-radius: 5px;
}

/* 배경 */
/* 기본배경 */
.mainblue-bg {
  background: #0047bb;
}

.lightgray-bg {
  background: #f1f1f5;
}
.transparent {
  background: transparent;
}

/* 바탕에 흰글씨 */
.mainblue-Btnbg {
  background: #0047bb;
  color: #fff;
  border: 1px solid #0047bb;
}

.lightgray-Btnbg {
  background: #f1f1f5;
  color: #555;
  border: 1px solid #f1f1f5;
}
.lightgray-Btnbg:focus {
  background: #0047bb;
  color: #fff;
  border: 1px solid #0047bb;
}

/* 글씨 */
.main-blue {
  color: #0047bb;
}

/* 간단로그인 배경 */
.kakac-bg-col {
  background: #ffe600;
}
.naver-bg-col {
  background: #31b24a;
}
.google-bg-col {
  background: #f5f5f5;
}
