/* 0. intro */
.intro-title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-title img {
  width: 300px;
}
.intro-title span {
  color: #eee;
}

.intro-footer {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  color: #eee;
  font-size: 12px;
}

/* 1. login */
.login-title {
  padding-top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title img {
  width: 300px;
  z-index: 1;
}

.login-title span {
  color: #555;
  font-size: 16px;
}

.login-icon {
  margin-top: 30%;
  display: flex;
  justify-content: center;
}

.login-icon li {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-icon li .icon-img {
  padding: 13px 10px 7px 10px;
  border-radius: 10px;
}

.login-icon li .icon-img img {
  width: 30px;
  height: 30px;
}

.login-icon li p {
  margin-top: 10px;
  color: #555;
}

.login-footer {
  margin-top: 20%;
  text-align: center;
}

.login-footer a,
.login-footer a:hover {
  color: #0047bb;
  text-decoration: underline;
}

/* 1-1 certification */
.certification-title {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.certification-title img {
  width: 300px;
}
.certification-title p {
  text-align: center;
  font-size: 16px;
}
.certification-title p span {
  font-weight: bold;
}

/* 2_infoInput */
.info-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-img img {
  padding: 35px;
  width: 50px;
  background: #f1f1f5;
  border-radius: 10px;
  cursor: pointer;
}

.info-email {
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  box-sizing: border-box;
}

.info-email span {
  text-align: center;
  line-height: 40px;
}

.classBtn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.classBtn button,
.careerBtn button {
  height: 40px;
  border-radius: 5px;
}

.careerBtn {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 10px;
}
